- var site = queryFile({ fullname: "data/site" })
- var mainMenu = queryFile({ fullname: "data/mainMenu" }).items
- var program = queryFile({ fullname: "data/program" }).items
- var partners = queryFile({ fullname: "data/partners" }).items
- var sponsors = queryFile({ fullname: "data/sponsors" }).items
- var speakers = queryFile({ fullname: "data/speakers" }).items
