- var site = queryFile({ fullname: "data/site" })
- var sections = queryFile({ fullname: "data/sections" })
- var mainMenu = queryFile({ fullname: "data/mainMenu" }).items
- var program = queryFile({ fullname: "data/program" }).items
- var partners = queryFile({ fullname: "data/partners" }).items
- var sponsors = queryFile({ fullname: "data/sponsors" }).items
- var speakers = queryFile({ fullname: "data/speakers" }).items
- var organizers = queryFile({ fullname: "data/organizers" }).items
- var gifts = queryFile({ fullname: "data/gifts" }).items
