mainFont = 'Fira Sans', sans-serif
// weights Regular=400, Medium=500, Bold=700

copyFont = 'Fira Sans', sans-serif
headingFont = 'Fira Sans', sans-serif


firColor = #a9bf46

lgWidth = 1600px
mdWidth = 1240px
smWidth = 1000px
desktopWidth = smWidth

tabletWidth = 768px
tabletHeight = tabletWidth
phoneHeight = 380px

lg = "(min-width: " + (lgWidth) + ")"
md = "(min-width: " + mdWidth + ") and (max-width: " + (lgWidth - 1) + ")"
sm = "(min-width: " + smWidth + ") and (max-width: " + (mdWidth - 1) + ")"
desktop = "(min-width: " + desktopWidth + ")"
tablet = "(min-width: " + tabletWidth + ") and (max-width: " + (desktopWidth - 1) + ")"
tablet_landscape = "(max-height: " + (tabletHeight) + ") and (max-width: " + (mdWidth - 1) + ")"
phone = "(max-width: " + (tabletWidth - 1) + ")"
phone_landscape = "(max-height: " + (phoneHeight - 1) + ")"
phone_tablet = "(max-width: " + (desktopWidth - 1) + ")"