.modal
	display none
	overflow hidden
	position fixed
	min-width 320px
	top 0
	right 0
	bottom 0
	left 0
	z-index 1050
	-webkit-overflow-scrolling touch
	text-align center
	outline 0
	&:after
		content ""
		display inline-block
		vertical-align middle
		height 100%
		width 0
	&-dialog
		position relative
		display inline-block
		vertical-align middle
		margin 10px 0
		min-width 300px
		width 1000px
		transform-origin center center
		transition transform .3s cubic-bezier(0.58, 0.92, 0.32, 1)
		@media tablet
			width 500px
		@media phone
			width 95%
		@media phone_landscape
			width 80% !important
		&.modal-lg
			width 930px
			@media tablet
				width 740px
			@media phone
				width 95%
	&-body
		position relative
		z-index 4
		clearfix()
	&-image-wrapper
		float left
		width 20%
		padding-right 20px
		@media phone_tablet
			float none
			width auto
			padding-right 0
			margin-bottom 10px
	&-text-wrapper
		float left
		width 80%
		padding-left 20px
		@media phone_tablet
			width auto
			float none
			padding-left 0
	&-content
		position relative
		padding 60px 50px
		background-color #fff
		box-shadow 0 3px 20px rgba(0,0,0,.2)
		outline 0
		text-align left
		@media phone
			padding 20px 30px
		.modal-simple &
			padding 0
	&-backdrop
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		z-index 1040
		background-color alpha(blueColor, 0.8)
	&-open
		overflow hidden
		.modal
			overflow-x hidden
			overflow-y auto
	&-close
		position absolute
		z-index 5
		top 18px
		right 18px
		// right @top
		width 30px
		cursor pointer
		height @width
		padding 0
		outline none
		background transparent
		color transparent
		border 2px solid transparent
		transition transform .2s ease, border .2s ease
		@media phone_tablet
			top 10px
			right 10px
		&:before
		&:after
			content ""
			position absolute
			width 2px
			top 50%
			left 50%
			height 26px
			margin-top -(@height / 2)
			background-color blueColor
			margin-left -1px
			transition background-color .15s ease
		&:before
			transform rotate(-45deg)
		&:after
			transform rotate(45deg)
		&:hover
			border 2px solid blueColor
	&-title
		font-size 28px
		display block
	&-language
	&-position
	&-description
		font-size 18px
		margin-bottom 0
		display block
		color #717171
		@media phone
			font-size 17px
	&-language
		margin-bottom 30px
	&-description
		color siteColor
		div
			margin-bottom 10px
	&-position
		&-link
			color #717171
	&-portrait
		display block
		max-width 100%
		height auto
		border-radius 50%
		margin 10px auto 0
