.modal
	display none
	overflow hidden
	position fixed
	min-width 320px
	top 0
	right 0
	bottom 0
	left 0
	z-index 1050
	-webkit-overflow-scrolling touch
	text-align center
	outline 0
	&:after
		content ""
		display inline-block
		vertical-align middle
		height 100%
		width 0
	&-dialog
		position relative
		display inline-block
		vertical-align middle
		margin 10px 0
		min-width 300px
		width 570px
		transform-origin center center
		transition transform .3s cubic-bezier(0.58, 0.92, 0.32, 1)
		@media tablet
			width 500px
		@media phone
			width 95%
		@media phone_landscape
			width 80% !important
		&.modal-lg
			width 930px
			@media tablet
				width 740px
			@media phone
				width 95%
	&-body
		position relative
		z-index 4
	&-content
		position relative
		padding 30px 60px 40px
		background-color #fff
		box-shadow 0 3px 20px rgba(0,0,0,.2)
		outline 0
		text-align left
		@media phone
			padding 20px 30px
		.modal-simple &
			padding 0
	&-backdrop
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		z-index 1040
		background-color rgba(0,0,0,.5)
	&-open
		overflow hidden
		.modal
			overflow-x hidden
			overflow-y auto
	&-close
		position absolute
		z-index 5
		top 0
		right @top
		width 30px
		height @width
		padding 0
		border 0 none
		outline none
		background brandColor
		transition transform .2s ease, background .2s ease
		&:before
		&:after
			content ""
			position absolute
			width 1px
			top 50%
			left 50%
			height 16px
			margin-top -(@height / 2)
			background-color #fff
			transition background-color .15s ease
		&:before
			transform rotate(-45deg)
		&:after
			transform rotate(45deg)
		&:hover
			background redColor
	&-title
		font-size 28px
		margin-bottom 15px
		font-weight 600
		display block
		text-align center
	&-language
	&-position
	&-additiona-position
	&-description
		font-size 19px
		margin-bottom 8px
		display block
		@media phone
			font-size 17px
	&-language
		font-weight 600
		&-value
			font-weight 400
	&-description
		margin-bottom 0
	&-portrait
		display block
		max-width 100%
		height auto
		border-radius 50%
		margin 0 auto 10px
	&-close
		background #c75050
		color #fff
		cursor pointer
		&:after
		&:before
			background #fff
		&:hover
			background darken(#c75050, 15%)
