.about
	position relative
	padding 140px 0 90px
	@media phone
		padding 120px 0 60px
	&__features
		margin 0 auto 65px
		padding 0
		width 50%
		list-style none
		text-align center
		@media phone_tablet
			width auto
		@media phone
			margin 0
		&-item
			display inline-block
			vertical-align top
			width 49%
			@media phone
				display block
				width auto
				margin-bottom 30px
		&-value
			margin-bottom 20px
			font-size 50px
			line-height 1
			font-weight 300
			color brandColor
			@media phone
				margin-bottom 10px
			small
				font-size 22px
				font-weight 400
		&-label
			font-size 18px
			color blueColor
	&__text
		max-width 680px
		margin 0 auto
		text-align center
	&__footer
		margin-top 65px
		text-align center
