.news
	padding 80px 0
	.container
		border-top 2px solid lightGrey
	&__list
		display block
		max-width 815px
		margin 0 auto
		list-style none
		padding 0
		&-item
			display block
			margin-bottom 10px
			&:last-child
				margin-bottom 0
	&__date
		font-size 18px
		color brandColor
		text-align left
		display inline-block
		margin-right 25px
		vertical-align top
	&__text
		font-size 18px
		color blueColor
		text-align left
		display inline-block
		max-width 675px
		text-decoration none
	&__footer
		margin-top 75px
		text-align center
