.container
	+e("h2").title.main-title!= data.title
	if data.list
		+e("ul").list
			each item in data.list
				+e("li").list-item
					time(datetime=!item.dateTime).news__date!= item.date
					+e("a").text(href!=item.link)!= item.linkText
	+e.footer
		+e("a").more.btn.btn_default(href=data.btnMoreLink)!= data.btnMore
