.container
	if data
		+e("h2").title.main-title!= data.title
	if list
		+e.list
			+b("ul").news-list: +i({ data: list })
	+e.footer
		+e("a").more.btn.btn_default(href="https://www.facebook.com/ngouisg/")!= data.btnMore
