.container
	if data
		+e("h2").title.main-title!= data.title
		+e.text!= data.text
//- .container
//- 	+e("h2").title.main-title Шановні колеги, Ми починаємо приймати заявки на виступ на UISGCON13
//- 	+e.text Якщо у Ви маєте унікальні знання, цікавий досвід, результати досліджень або просто інформація, якою Ви бажаєте поділитися з іншими колегами з Cyber Security Community, <a href="https://docs.google.com/a/se7ensky.com/forms/d/e/1FAIpQLSddb-tLp7qcgfTJ4aFmP9-mUgWCB5aAz6xZD-69AxnX2HCVxw/viewform?c=0&w=1" target="_blank">просимо подати заявку сюди:</a> Просимо до заявки додавати коротку інформацію про Ваші біографічні дані та якісне фото.<br><br>Нагадуємо, що виступ не повинен містити інформації рекламного характеру щодо певних товарів, послуг, торгівельних марок, зареєстрованих товарних знаків, тощо. На першому та останньому слайдах може вказуватися контактна інформація спікера та поточне місце роботи.<br><br>Усі подані заявки будуть уважно розглянуті Оргкомітетом. Не пізніше 31.08.2016 усім номінантам буде повідомлено про результати опрацювання заявки.<br>Чекаємо на ваші яскраві виступи на UISGCON13
