.container
	position relative
	margin-left auto
	margin-right auto
	padding-left 10px
	padding-right 10px
	clearfix()
	@media lg
		width 1400px
	@media md
		width 1200px
	@media sm
		width 980px
	@media tablet
		width 760px
