.contest
	padding 80px 0
	&__text
		text-align center
		max-width 600px
		margin 0 auto 30px
	&__gifts
		list-style none
		margin 0
		padding 0
		text-align center
		font-size 0
		&-item
			display inline-block
			margin-right 70px
			&:nth-child(2)
				margin-right 118px
			&:last-child
				margin-right 0
	&__gift
		&-badge
			position absolute
			top 0
			left -15px
			display inline-block
			background-color #007ae3
			background-image linear-gradient(to top, #007ae3 0%, #45a4f5 100%)
			border-radius 50%
			height 70px
			width 70px
			&_big
				height 91px
				width 91px
				top 30%
				.contest__gift-badge-value
					font-size 60px
			&-value
				font-size 42px
				font-weight 600
				color #fff
				margin-top 5px
				line-height 0.9
				display inline-block
			&-label
				color #fff
				font-size 15px
				display block
				line-height 1.1
		&-img
			display block
			max-width 100%
			height auto
		&-image
			position relative
		&-label
			font-size 22px
			color blueColor
			margin-top 8px
	&__footer
		margin-top 110px
		text-align center
