.container
	if data.title
		+e("h2").title.main-title!= data.title
	if data.text
		+e.text!= data.text
	if gifts
		+e("ul").gifts
			each item, i in gifts
				+e("li").gifts-item
					+e.gift
						+e.gift-image
							+e("img").gift-img(src=item.image alt=item.label)
							if i === 0
								- classes = "contest__gift-badge_big"
							else
								- classes = ""
							+e.gift-badge(class=classes)
								+e("span").gift-badge-value!= item.badgeValue
								+e("span").gift-badge-label!= item.badgeLabel
						+e.gift-label!= item.label
	+e.footer
		+e("a").more.btn(href=data.btnMoreLink)!= data.btnMore
