.tickets
	padding 70px 0 140px
	background-color lightGrey
	&__title
		margin-bottom 80px
	&__list
		margin 0
		padding 0
		list-style none
		text-align center
		clearfix()
		&-item
			float left
			width 25%
			border-right 1px solid #dfe2e5
			@media tablet_sm
				width 50%
				&:nth-child(even)
					border-right 0 none
			@media tablet_sm
				border-right-color lightGrey
				border-bottom 1px solid lightGrey
			&:last-child
				border-right 0 none
	&__box
		height 350px
		padding 40px 30px
		background-color #fff
		&-title
			margin-bottom 40px
			font-size 19px
			font-weight 600
			color brandColor
		&-price
			margin-bottom 40px
			font-size 80px
			line-height 1
			font-weight 300
			color blueColor
			sup
				margin-left 8px
				top -35px
				color brandColor
				font-size 38px
				line-height 1
		&-order
			display block
			width 100%
