.tickets
	padding 80px 0 90px
	background-color lightGrey
	&__list
		list-style none
		margin 0
		padding 0
		text-align center
		font-size 0
		&-item
			display inline-block
			vertical-align middle
			margin-right 1px
			&:last-child
				margin-right 0
	&__box
		background-color #fff
		width 308px
		height 350px
		padding 40px 25px
		&-title
			padding 0 0 40px
			display block
			font-size 19px
			font-weight 600
			color brandColor
		&-price
			display block
			font-size 80px
			line-height 1
			font-weight 300
			margin-bottom 40px
			color blueColor
			sup
				top -35px
				color brandColor
				font-size 38px
				line-height 1
				margin-left 8px
		&-order
			display block
