.container
	+e("h2").title.main-title Варіанти квитків
	if list
		+e("ul").list
			each item, i in list
				+e("li").list-item
					+e.box
						+e.box-title!= item.title
						+e.box-price!= item.price
							sup!= item.currency
						if i === 2
							- classes = "active"
						else
							- classes = ""
						+e("a").box-order.btn(class=classes href=item.orderLink)!= item.order
