.footer
	padding 45px 0
	background-color #0b172b
	&__main
		text-align center
		clear both
	&__info
		float left
	&__link
		display block
		text-decoration none
	&__logo
		&-copyright
			color #6b7788
			font-size 16px
		&-image
			display block
			margin-bottom 3px
	&__location
		display inline-block
		color #6b7788
		font-size 16px
		&-address
			font-style normal
	&__dev
		margin-top 60px
		text-align center
		clear both
		&-label
			display inline-block
			color #6b7788
			font-size 16px
			font-style normal
			margin-right 10px
		&-link
			display inline-block
			vertical-align middle
		&-image
			display block
