.footer
	position relative
	z-index 50
	padding 45px 0 35px
	background-color #0b172b
	font-size 16px
	color #6b7788
	@media phone_tablet
		font-size 15px
	@media phone
		padding 30px 0
	&__main
		clearfix()
		text-align center
	&__section
		float left
		width 33.333%
		@media phone
			float none
			width auto
			margin-bottom 40px
		&-title
			margin-bottom 20px
			color #a4b5c6
			@media phone
				margin-bottom 10px
	&__copyright
		margin-bottom 20px
	&__logos
		&-item
			display inline-block
			vertical-align top
			width 49%
			height 50px
			padding 0 20px
			text-decoration none
			fit-image()
			transition .2s opacity ease-in-out
			@media tablet
				display block
				width 70%
				margin 0 auto 20px
			@media phone
				width auto
				max-width 180px
				margin 0 0 20px
			&:hover
				opacity .7
	&__location
		line-height 1.8
		address
			font-style normal
	&__dev
		text-align center
		@media desktop
			margin-top 60px
		@media tablet
			margin-top 40px
		&-label
			display inline-block
			font-size 16px
			font-style normal
			margin-right 10px
		&-link
			display inline-block
			vertical-align middle
			width 112px
			height 53px
			&:hover
				.footer__dev-image path
					fill #ff7700
		&-image
			display block
			width 100% !important
			height auto !important
			path
				fill #a4b5c6
				transition .2s fill ease-in-out
			
