.container
	+e("h2").title.main-title!= title
	//- if list
	//- 	+e("ul").list
	//- 		each item in list
	//- 			+e("li").list-item
	//- 				+b("a").tile(href=item.url target="_blank"): +i({ image: item.image, alt: item.title, text: item.text })
	+e.footer
		a.btn(href="/cfp.html") Стати партнером
