.container
	if items.title
		+e("h2").title.main-title!= items.title
	if list
		- classes = ""
		if listClasses
			- classes = listClasses
		+b.tiles(class=classes): +i({ data: list })
	if items.buttonLabel
		+e.footer
			a.btn(href=items.buttonUrl)= items.buttonLabel
