.informer
	padding 55px 0
	background-color blueColor
	color #fff
	text-align center
	@media phone
		padding 50px 0
	&__title
		margin 0 0 30px
		font-size 40px
		color #fff
		@media phone
			font-size 28px
	&__content
		margin-bottom 40px
		p
			margin 0 0 10px