.news-list
	margin 0
	padding 0
	list-style none
	font-size 18px
	line-height 1.6
	&__item
		margin-bottom 15px
		clearfix()
		&:last-child
			margin-bottom 0
	&__date
		float left
		margin-right 25px
		font-weight 600
		color brandColor
	&__text
		display block
		overflow hidden
		color blueColor
		text-decoration none
		&:hover
			color brandColor
