.map
	position relative
	&__interactive
		height 663px
		width 100%
	&__info
		position absolute
		top 184px
		left 114px
		width 372px
		height 277px
		background-color #fff
		box-shadow 0 3px 15px rgba(16, 22, 30, 0.15)
		padding 40px 100px 40px 45px
	&__title
		color blueColor
		font-size 40px
		font-weight 600
		margin-bottom 8px
	&__adress
	&__link
	&__times
		color siteColor
		font-size 18px
	&__adress
	&__link
		display block
		margin-bottom 10px
	&__link
		text-decoration none
		&:hover
			text-decoration underline
