.map
	position relative
	min-height 500px
	background-color #f0f0f0
	&__interactive
		position relative
		z-index 1
		width 100%
		height 665px
		@media phone
			height 250px
	&__info
		position absolute
		z-index 2
		top 185px
		left 115px
		width 370px
		background-color #fff
		padding 30px 40px
		box-shadow 0 3px 15px rgba(16, 22, 30, 0.15)
		@media phone
			position static
			padding 30px 10px
			width auto
			box-shadow none
			background-color lightGrey
		&-content
			p
				margin 0 0 10px
	&__title
		color blueColor
		font-size 40px
		font-weight 600
		margin-bottom 20px
		@media phone
			margin-bottom 30px
	&__adress
	&__link
	&__times
		color siteColor
		font-size 18px
		position relative
		padding-left 35px
		&:before
			font-family "icons"
			position absolute
			top 0
			left 0
			color brandColor
			font-size 18px
	&__adress
	&__link
		display block
	&__adress
		&:before
			content "\e900"
	&__times
		&:before
			content "\e906"
	&__link
		text-decoration none
		&:before
			content "\e905"
		&:hover
			color brandColor
