offset = 20px

.wrap
	display block
	margin-left auto
	margin-right auto
	width 1240px + (offset * 2)
	clearfix()
	padding-left offset
	padding-right offset

	@media md
		width 1200px + (offset * 2)
	
	@media sm
		width 960px + (offset * 2)

	@media tablet
		width 728px + (offset * 2)
	
	@media phone
		width auto
		padding-left (offset / 2)
		padding-right (offset / 2)
