.sponsors
	padding 80px 0 100px
	&__list
		list-style none
		padding 0
		margin 0
		text-align center
		&-item
			display inline-block
			margin-right 80px
			&:last-child
				margin-right 0
	.tile
		display block
		text-decoration none
		&-img
			display block
			max-width 100%
			height auto
		&__label
			margin-top 15px
			font-size 15px
			color #717171
