//---
	layout: layouts/contacts
	pageUrl: "contacts"
	title: "Contacts"
	language: "en"
	pageClasses: "text-center"
	hideInformer: true

h2 Venue of UISGCON12:
p President Hotel, 12 Hospital Street, Kyiv, Ukraine
	br
	| Nearest metro station: Klovska Sport, Palace
p Latitude 50°27′27″N (50.436223)
	br
	| Longitude 30°36′34″E (30.525358)
p For any question about the conference please contact <a href="mailto:talks@uisgcon.org">talks@uisgcon.org</a>
p For partnerships please contact <a href="mailto:biz@uisgcon.org">biz@uisgcon.org</a>
