.intro
	background url("i/intro.jpg") no-repeat center
	background-size cover
	.container
		min-height 800px
		height 100vh
	&__content
		text-align center
	&__title
		color #fff
		font-size 58px
		font-weight 600
		margin-bottom 55px
	&__info
		&-dates
		&-address
			color #fff
			font-size 22px
			font-style normal
		&-address
			margin 10px
