.jumbotron
	&__slide
		height 280px
		position relative
		.jumbotron_nav &
			height 330px
	&__bg
		height 100%
		width 1240px
		position absolute
		top 0
		left 50%
		margin-left (@width / (-2))
		text-align center
		background-color #ddd
		&-img
			max-height 100%
			width 100%
			display block