+e.slide
	+e.bg
		+e.bg-img(src="http://placehold.it/1240x280", alt="", title="")
	span(style="position: absolute; font-size: 300%; top: 0; left: 0") 1
+e.slide
	+e.bg
		+e.bg-img(src="http://placehold.it/1240x280", alt="", title="")
	span(style="position: absolute; font-size: 300%; top: 0; left: 0") 2
+e.slide
	+e.bg
		+e.bg-img(src="http://placehold.it/1240x280", alt="", title="")
	span(style="position: absolute; font-size: 300%; top: 0; left: 0") 3