//---
	layout: layouts/contacts
	title: "Контакти"
	pageClasses: "text-center"

p З питань виступу на конференції звертайтесь за адресою <a href="mailto:talks@uisgcon.org">talks@uisgcon.org</a>
p З питань партнерства звертайтесь за адресою <a href="mailto:biz@uisgcon.org">biz@uisgcon.org</a>