//---
	layout: layouts/contacts
	pageUrl: "contacts"
	title: "Контакти"
	pageClasses: "text-center"
	hideInformer: true

h2 Місце проведення UISGCON13:
p Президент Готель, вулиця Госпітальна, 12, Київ, Україна
	br
	| Найближчі станції метро: Кловська, Палац спорту
p Широта 50°27′27″N (50.436223)
	br
	| Довгота 30°36′34″E (30.609402)(30.525358)
p З питань виступу на конференції звертайтесь за адресою <a href="mailto:talks@uisgcon.org">talks@uisgcon.org</a>
p З питань партнерства звертайтесь за адресою <a href="mailto:biz@uisgcon.org">biz@uisgcon.org</a>
