//---
	layout: layouts/frontPage
	intro:
		title: "Cyber Security Conference"
		arrowUrl: "#about"
	about:
		title: "Про UISGCON"
		featuresValue: "12<small>-а</small>"
		featuresLabel: "конференція <br>інформаційної безпеки"
		text: "Як і раніше, захід викликає інтерес у представників кредитно-фінансової та банківської систем України, провайдерів телекомунікаційних послуг, промисловості, торгівлі, професіоналів з надання ІБ-послуг, органів державної влади, а також у системних адміністраторів, інженерів, студентів профільних ВНЗ та ін."
		btnMore: "Детально про UISGCON"
	features:
		title: "Особливості"
		list:
			- value: 2
			  label: "Дні унікального контенту"
			- value: 70
			  label: "Кращих спеціалістів з інформаційної безпеки"
			- value: 120
			  label: "Тематичних лекцій, дискусій та майстер-класів"
	contest:
		title: "Конкурс"
		text: "Розробіть новий семпл або модифікуйте існуючі семпли, що не будуть виявлятися засобами для боротьби з malware і отримайте цінні призи"
		gifts:
			- image: "assets/i/ipad-mini-3.png"
			  imageAlt: "iPad mini 3"
			  badgeValue: 1
			  badgeLabel: "місце"
			  label: "iPad mini 3"
			- image: "assets/i/petcube.png"
			  imageAlt: "Petcube"
			  badgeValue: 2
			  badgeLabel: "місце"
			  label: "Petcube"
			- image: "assets/i/intel-compute-stick.png"
			  imageAlt: "INTEL Compute Stick"
			  badgeValue: 3
			  badgeLabel: "місце"
			  label: "INTEL Compute Stick"
		btnMore: "Більше подробиць"
	news:
		title: "Новини"
		list:
			- dateTime: "2016-05-21"
			  date: "21.05.2016"
			  link: "/"
			  linkText: "DIGITAL MAMA - результати третьої хвилі дослідження споживчої поведінки українських мам в Інтернеті"
			- dateTime: "2016-04-06"
			  date: "06.04.2016"
			  link: "/"
			  linkText: "MarTech Europe - конференція про трансформацію маркетингу за допомогою технологій"
			- dateTime: "2016-03-18"
			  date: "18.03.2016"
			  link: "/"
			  linkText: "Програми лояльності - навіщо вони потрібні і як працюють? досвід Tesco"
			- dateTime: "2016-02-14"
			  date: "14.02.2016"
			  link: "/"
			  linkText: Панельна дискусія: 'Розслідування інцидентів кібербезпеки', 'Еволюція атак на пристрої мережевої інфраструктури'
			- dateTime: "2016-02-07"
			  date: "07.02.2016"
			  link: "/"
			  linkText: "Сертифікація фахівців в галузі інформаційної безпеки та сертифікація на відповідність стандартам"
			- dateTime: "2016-02-01"
			  date: "01.02.2016"
			  link: "/"
			  linkText: "Захист персональних даних vs забезпечення інформаційної безпеки. N-кількість кіберзагроз, які Ви могли проспати. Практичні приклади"
			- dateTime: "2016-01-29"
			  date: "29.01.2016"
			  link: "/"
			  linkText: Підведення підсумків конкурсу 'Bring Your Own Sample'
		btnMore: "Всі новини"
		btnMoreLink: "/"
	tickets:
		title: "Варіанти квитків"
		box:
			- title: "early bird"
			  price: 5600
			  currency: "₴"
			  text: "При купівлі квитка <br>до "
			  time: "31.09.16"
			  dateTime: "2016-09-31"
			  orderLink: "/"
			  order: "Купити"
			- title: "mid season"
			  price: 6600
			  currency: "₴"
			  text: "При купівлі квитка <br>до "
			  time: "31.10.16"
			  dateTime: "2016-10-31"
			  orderLink: "/"
			  order: "Купити"
			- title: "mid season"
			  price: 9000
			  currency: "₴"
			  text: "При купівлі квитка <br>в день конференції"
			  orderLink: "/"
			  order: "Купити"
			- title: "mid season"
			  price: 9000
			  currency: "₴"
			  text: "При купівлі квитка <br>в день конференції"
			  orderLink: "/"
			  order: "Купити"
	sponsors:
		title: "Спонсори"
		list:
			- link: "/"
			  image: "assets/i/isight-partners.png"
			  alt: "ISIGHT PARTNERS"
			  text: "Генеральний спонсор 'ISIGHT PARTNERS'"
			  target: "_blank"
			- link: "/"
			  image: "assets/i/cisco-systems.png"
			  alt: "CISCO SYSTEMS, INC"
			  text: "Золотий спонсор CISCO SYSTEMS, INC"
			  target: "_blank"
			- link: "/"
			  image: "assets/i/ibm.png"
			  alt: "IBM UKRAINE"
			  text: "Золотий спонсор IBM UKRAINE"
			  target: "_blank"
			- link: "/"
			  image: "assets/i/fortinet.png"
			  alt: "FORTINET, INC"
			  text: "Срібний спонсор FORTINET, INC"
			  target: "_blank"
			- link: "/"
			  image: "assets/i/virgil-security.png"
			  alt: "Virgil Security"
			  text: "Срібний спонсор Virgil Security"
			  target: "_blank"
			- link: "/"
			  image: "assets/i/symantec.png"
			  alt: "Symantec"
			  text: "Срібний спонсор Symantec"
			  target: "_blank"
			- link: "/"
			  image: "assets/i/active-audit-agency.png"
			  alt: "ТОВ 'Агенство Активного Аудиту'"
			  text: "Спонсор круглого столу ТОВ 'Агенство Активного Аудиту'"
			  target: "_blank"
			- link: "/"
			  image: "assets/i/infosafe.png"
			  alt: "ТОВ 'Інфосейф ІТ'"
			  text: "Спонсор круглого столу ТОВ 'Інфосейф ІТ'"
			  target: "_blank"
	map:
		data:
			title: "Прем'єр-готель 'Русь'"
			latitude: 50.435883
			longitude: 30.524122
			zoom: 15
			icon: "assets/i/map-pin.png"
		title: "Контакти"
		adress: "Прем'єр Готель Русь, Київ, Україна"
		mailLink: "mailto:biz@uisgcon.org"
		mailLinkText: "biz@uisgcon.org"
		times:
			- 8:30
			- 21:00
	partners:
		title: "Партнери"
		list:
			- link: "/"
			  target: "_blank"
			  img: "assets/i/berezha-security.png"
			  alt: "ТОВ 'Бережа security'"
			  text: "Конкурс-партнер - ТОВ 'Бережа security'"
			- link: "/"
			  target: "_blank"
			  img: "assets/i/smartnet.png"
			  alt: "ТОВ 'SmartNet'"
			  text: "Технологічний партнер - ТОВ 'SmartNet'"
			- link: "/"
			  target: "_blank"
			  img: "assets/i/issp.png"
			  alt: "ТОВ 'ISSP'"
			  text: "Тренінг-партнер - ТОВ 'ISSP'"

// content
