//---
	layout: layouts/externalPage
	title: "Order"

iframe(src="https://arm.frontmanager.com.ua/PublicAPI/WidgetStep1.aspx?__uid=sV7P8tRjXItQAYaDpI7kDg%20%20&event=891878564" width="100%" height="800px")