.sr-only
	position absolute
	width 1px
	height 1px
	margin -1px
	padding 0
	overflow hidden
	clip rect(0, 0, 0, 0)
	border 0

.btn
	padding 11px 29px
	border-radius 21px
	border-width 2px
	border-style solid
	text-decoration none
	display inline-block
	line-height 1

.btn_default
	border-radius 25px
	padding 14px 38px
	border-color brandColor
	color brandColor
	font-size 18px
	font-weight 600

.main-title
	color blueColor
	font-size 58px
	font-weight 600
	margin 68px 0 64px
	text-align center
