.fade
	opacity 0
	transition opacity .2s ease-out
	&.in
		opacity 1

.sr-only
	position absolute
	width 1px
	height 1px
	margin -1px
	padding 0
	overflow hidden
	clip rect(0, 0, 0, 0)
	border 0

.color
	&-blue
		color blueColor
.bg
	&-lightgrey
		background-color lightGrey

.text-center
	text-align center

.main-title
	margin 0 0 60px
	color blueColor
	font-size 58px
	line-height 1.2
	font-weight 600
	text-align center
	@media phone
		margin 0 0 30px
		font-size 40px

.offset-0
	margin 0
