.dotted
	border-bottom 1px dotted
.dashed
	border-bottom 1px dashed

.font-normal
	font-weight normal !important

.inline-block
	display inline-block !important

.abs
	position absolute

.abs-helper
	position relative
	white-space nowrap
	margin-left 15px
	.abs
		top 0
		left 0

.nowrap
.nobr
	white-space nowrap

.no-underline
	text-decoration none
	&:hover
		text-decoration underline

.text-overflow
	overflow ellipsis
	display block

.text-uppercase
	text-transform uppercase

.invisible
	visibility hidden

.border-none
	border 0 none !important

.center-inner
	center-block()

.padding-0
	padding 0px !important
.padding-left-0
	padding-left 0px !important
.padding-right-0
	padding-right 0px !important
.padding-10
	padding 10px !important
.padding-20
	padding 20px !important
.padding-30
	padding 30px !important

.offset-0
	margin 0 !important
.offset-top-0
	margin-top 0 !important
.offset-bottom-0
	margin-bottom 0 !important

.offset-top-10
	margin-top 10px !important
.offset-top-20
	margin-top 20px !important
.offset-top-30
	margin-top 30px !important

.offset-bottom-10
	margin-bottom 10px !important
.offset-bottom-20
	margin-bottom 20px !important
.offset-bottom-30
	margin-bottom 30px !important

.clearfix
	clearfix()

.flex-image
	max-width 100%

@media phone
	.btn-xs-block
		width 100%
		margin-top 15px
		& + .btn-xs-block
			margin-top 15px
			margin-left 0 !important