extends main

block root
	if file.showHeader
		+b("header").header._static: +i({ language: file.language, pageUrl: file.pageUrl })

	!= content

	if file.showFooter
		+b("footer").footer: +i({ language: file.language })
