extends main

block main
	h1.sr-only= site.title
	+b("section").intro#intro: +i({ title: file.intro.title, location: site.location, date: site.date, arrowUrl: file.intro.arrowUrl })

	+b("section").about#about: +i({ title: file.about.title, featuresValue: file.about.featuresValue, featuresLabel: file.about.featuresLabel, btnMore: file.about.btnMore, text: file.about.text, date: site.date, location: site.location })

	+b("section").features#features: +i({ title: file.features.title, list: file.features.list })

	+b("section").speakers#speakers: +i({ title: file.speakers.title, persons: file.speakers.persons, btnMore: file.speakers.btnMore, btnMoreLink: file.speakers.btnMoreLink })

	//- +b("section").program#program
	//- 	.container
	//- 		+e("h2").title.main-title Програма

	+b("section").contest#contest: +i({ title: file.contest.title, text: file.contest.text, gifts: file.contest.gifts, btnMore: file.contest.btnMore })

	+b("section").news#news: +i({ title: file.news.title, list: file.news.list, btnMore: file.news.btnMore, btnMoreLink: file.news.btnMoreLink })

	+b("section").tickets#tickets: +i({ title: file.tickets.title, box: file.tickets.box })

	+b("section").sponsors#sponsors: +i({ title: file.sponsors.title, list: file.sponsors.list })

	+b("section").map#map: +i({ data: file.map.data, title: file.map.title, adress: file.map.adress, mailLink: file.map.mailLink, mailLinkText: file.map.mailLinkText, times: file.map.times })

	+b("section").partners#partners: +i({ title: file.partners.title, list: file.partners.list })
