extends main

block main
	h1.sr-only= site.title
	+b("section").intro#intro: +i({ title: file.intro.title, location: site.location, date: site.date, arrowUrl: file.intro.arrowUrl })

	+b("section").about#about: +i({ title: file.about.title, featuresValue: file.about.featuresValue, featuresLabel: file.about.featuresLabel, btnMore: file.about.btnMore, text: file.about.text, date: site.date, location: site.location })

	+b("section").features#features: +i({ title: file.features.title, list: file.features.list })

	+b("section").speakers#speakers
		.container
			+e("h2").title.main-title Спікери
			+e("ul").list
				+e("li").list-item
					+e("a").person(href="#modal-speaker-korsun" data-toggle="modal")
						+e("img").person-avatar(src="" alt="Костянтин Корсун")
						+e("span").person-name Костянтин Корсун
						+e("span").person-position Голова Ради Української Групи Інформаційної Безпеки
				//+e("li").list-item
				//	+e.person
				//		+e("img").avatar(src="" alt="Андрій Логінов. Член Ради Української Групи Інформаційної Безпеки.")
				//		+e("span").name Андрій Логінов
				//		+e("span").position Член Ради Української Групи Інформаційної Безпеки
				//+e("li").list-item
				//	+e.person
				//		+e("img").avatar(src="" alt="Володимир Стиран. Голова Наглядової Ради Української Групи Інформаційної Безпеки.")
				//		+e("span").name Володимир Стиран
				//		+e("span").position Голова Наглядової Ради Української Групи Інформаційної Безпеки
				//+e("li").list-item
				//	+e.person
				//		+e("img").avatar(src="" alt="Олег Бондаренко. Секретар Української Групи Інформаційної Безпеки.")
				//		+e("span").name Олег Бондаренко
				//		+e("span").position Секретар Української Групи Інформаційної Безпеки
				//+e("li").list-item
				//	+e.person
				//		+e("img").avatar(src="" alt="Лідія Скалицька. Виконавчий продюсер та головний редактор Securit13 Podcast.")
				//		+e("span").name Лідія Скалицька
				//		+e("span").position Виконавчий продюсер та головний редактор Securit13 Podcast
				//+e("li").list-item
				//	+e.person
				//		+e("img").avatar(src="" alt="Віктор Бистров. Член Ради Української Групи Інформаційної Безпеки.")
				//		+e("span").name Віктор Бистров
				//		+e("span").position Член Ради Української Групи Інформаційної Безпеки
			+e.footer
				+e("a").more.btn.btn_default(href="/") Всі спікери

	+b("section").program#program
		.container
			+e("h2").title.main-title Програма
			//+e.tabs
			//	+e("ul").external-tabs-list
			//		+e("li").external-tabs-list-item
			//			+e("a").external-tabs-list-link(href="#day-1") День перший
			//				time(datetime="2016-11-25") 25/11/2016
			//	+e("li").external-tabs-list-item
			//		+e("a").external-tabs-list-link(href="#day-2") День другий
			//			time(datetime="2016-11-26") 26/11/2016
			//
			//	+e.tabs-content#day-1
			//		+e("ul").internal-tabs-list
			//			+e("li").internal-tabs-list-item
			//				+e("a").internal-tabs-list-link(href="#day-1-hall-1") Зал 1
			//			+e("li").internal-tabs-list-item
			//				+e("a").internal-tabs-list-link(href="#day-1-hall-2") Зал 2
			//			+e("li").internal-tabs-list-item
			//				+e("a").internal-tabs-list-link(href="#day-1-hall-3") Зал 3
			//
			//		+e.internal-tabs-content#day-1-hall-1
			//			+e("ul").events-list
			//				+e("li").events-list-item
			//					time.program__events-time 08:30
			//					+e("span").events-text Реєстрація
			//				+e("li").events-list-item
			//					time.program__events-time 09:00
			//					+e("span").events-text Ранкова кава
			//				+e("li").events-list-item
			//					time.program__events-time 09:15
			//					+e("span").events-text Відкриття конференції / Привітальне слово
			//				+e("li").events-list-item
			//					time.program__events-time 09:30
			//					+e("span").events-text "Кібер Війна у Перспективі: Агресія Росії проти України", Кеннет Гірз
			//				+e("li").events-list-item
			//					time.program__events-time 10:30
			//					+e("span").events-text “Кібер Безпека в Україні”,
			//						+e("span") Мустафа Айдінлі
			//				+e("li").events-list-item
			//					time.program__events-time 11:10
			//					+e("span").events-text "Горизонталь це нова вертикаль - погляд “гіка” на можливості навколо вас",
			//						+e("span") Пол Андерсон
			//				+e("li").events-list-item
			//					time.program__events-time 11:55
			//					+e("span").events-text Кава-брейк
			//				+e("li").events-list-item
			//					time.program__events-time 12:20
			//					+e("span").events-text "Боротьба зі шкідливим ПЗ в 2016 році і за його межами: виклики, приклади, і стратегії",
			//						+e("span") Гійом Лове

				//	+e.internal-tabs-content#day-1-hall-2
				//		+e("ul").events-list
				//
				//	+e.internal-tabs-content#day-1-hall-3
				//		+e("ul").events-list
				//
				//+e.tabs-content#day-2
				//	+e("ul").internal-tabs-list
				//		+e("li").internal-tabs-list-item
				//			+e("a").internal-tabs-list-link(href="#day-2-hall-1") Зал 1
				//		+e("li").internal-tabs-list-item
				//			+e("a").internal-tabs-list-link(href="#day-2-hall-2") Зал 2
				//		+e("li").internal-tabs-list-item
				//			+e("a").internal-tabs-list-link(href="#day-2-hall-3") Зал 3
				//
				//	+e.internal-tabs-content#day-2-hall-1
				//		+e("ul").events-list
				//
				//	+e.internal-tabs-content#day-2-hall-2
				//		+e("ul").events-list
				//
				//	+e.internal-tabs-content#day-2-hall-3
				//		+e("ul").events-list

	+b("section").contest#contest: +i({ title: file.contest.title, text: file.contest.text, gifts: file.contest.gifts, btnMore: file.contest.btnMore })

	+b("section").news#news: +i({ title: file.news.title, list: file.news.list, btnMore: file.news.btnMore, btnMoreLink: file.news.btnMoreLink })

	+b("section").tickets#tickets: +i({ title: file.tickets.title, box: file.tickets.box })

	+b("section").sponsors#sponsors: +i({ title: file.sponsors.title, list: file.sponsors.list })

	+b("section").map#map: +i({ data: file.map.data, title: file.map.title, adress: file.map.adress, mailLink: file.map.mailLink, mailLinkText: file.map.mailLinkText, times: file.map.times })

	+b("section").partners#partners
		+e("h2").title.main-title Партнери
		+e("ul").list
			+e("li").list-item
				+b("a").tile(href="/" target="_blank")
					figure.tile__image
						+e("img").tile-img(src="" alt="ТОВ 'Бережа security'")
						figcaption.tile__label Конкурс-партнер - ТОВ "Бережа security"
			//	figure.partners__logotype
			//		+e("img").logotype-image(src="" alt="Конкурс-партнер - ТОВ 'Бережа security'")
			//		figcaption.partners__logotype-text Конкурс-партнер - ТОВ "Бережа security"
			//+e("li").list-item
			//	figure.partners__logotype
			//		+e("img").logotype-image(src="" alt="Технологічний партнер - ТОВ 'SmartNet'")
			//		figcaption.partners__logotype-text Технологічний партнер - ТОВ "SmartNet"
			//+e("li").list-item
			//	figure.partners__logotype
			//		+e("img").logotype-image(src="" alt="Тренінг-партнер - ТОВ 'ISSP'")
			//		figcaption.partners__logotype-text Тренінг-партнер - ТОВ "ISSP"
