extends main

block main
	+b("section").about#about: +i({
		data: sections.about,
		date: site.date,
		location: site.location,
		shortBlock: true
	})

	+b("section").features#features: +i({
		data: sections.features
	})

	+b("section").speakers#speakers: +i({
		list: speakers,
		data: sections.speakers
	})

	+b("section").program#program.bg-lightgrey: +i({
		list: program,
		data: sections.program
	})

	+b("section").timer(data-value="1480057200"): +i({ timer: sections.timer })

	//- +b("section").contest#contest: +i({
	//- 	gifts: gifts,
	//- 	data: sections.contest
	//- })

	//- .container
	//- 	hr.offset-0

	+b("section").tickets#tickets: +i({
		data: sections.tickets
	})

	+b("section").map#contacts: +i({
		items: sections.map,
		location: site.location
	})

	+b("section").news#news: +i({
		data: sections.news,
		list: news
	})


	//- +b("section").page-section#sponsors: +i({
	//- 	list: sponsors,
	//- 	items: sections.sponsors
	//- })

	+b("section").page-section.bg-lightgrey#organizers: +i({
		list: organizers,
		items: sections.organizers
	})

	+b("section").page-section#partners: +i({
		list: partners,
		items: sections.partners
	})
