extends root

block root
	+b("header").header Header
	
	main.main
		block main
			!= content
	
	+b("footer").footer Footer

block fonts

block styles
	link(rel="stylesheet", href=asset("project.min.css"))

block scripts
	script(src=asset("jquery-1.11.0.min.js") defer)
	script(src=asset("project.min.js") defer)

block analytics
