extends main

block main

	if customPage
		+b.page
			block article
				!= content
	else
		.container
			- classes = ""
			if file.pageClasses
				- classes = file.pageClasses
			+b("section").page(class=classes)
				+e.body
					- pageHeaderClasses = ""
					if file.pageHeaderClasses
						- pageHeaderClasses = file.pageHeaderClasses
					+e.header(class=pageHeaderClasses)
						if file.title
							+e("h1").title!= file.title
						if file.subtitle
							+e.subtitle!= file.subtitle
					.rich-text
						block article
							!= content

	block afterContent

	unless file.hideInformer
		+b("section").informer: +i({
			title: sections.informer.title,
			buttonLabel: sections.informer.buttonLabel,
			buttonUrl: sections.informer.buttonUrl,
			date: site.date,
			location: site.location,
			language: file.language
		})

	//- +b("section").page-section: +i({
	//- 	list: infoSupport,
	//- 	items: sections.infoSupport
	//- })

	+b("section").page-section.bg-lightgrey#sponsors: +i({
		//- list: sponsors,
		items: sections.sponsors
	})

	+b("section").page-section#partners: +i({
		list: partners,
		items: sections.partners
	})
