doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="author", content="SE7ENSKY frontend studio <hello@se7ensky.com>")
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}
		block fonts
		block styles
		block scripts
	body(class=file.bodyClasses)
		block root
			!= content
		block analytics