doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="theme-color" content="#007ae3")
		link(rel="shortcut icon" href=asset("i/favicon.png?v=2"))
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}
		block fonts
		block styles
	body
		block root
			!= content

		block scripts
		block analytics