.header
	position absolute
	z-index 150
	left 0
	right 0
	height 80px
	padding-top 18px
	background-color lightGrey
	transform translate3d(0,0,0)
	&_static
		position relative
	&_fixed
		position fixed
		top 0
		box-shadow 0 0 5px rgba(0,0,0,.1)
	&__menu
		float right
		margin-top 7px
	&__logo
		float left
		margin-top 4px
		text-decoration none
		&-img
			display block
	&__language
		margin-left 35px
		display inline-block
		vertical-align middle
		font-size 18px
		color blueColor
		font-weight 600
		text-transform uppercase
		text-decoration none
		&:hover
			color brandColor
	&__controls
		float right
		margin-left 30px
