.header
	position absolute
	z-index 150
	left 0
	right 0
	background-color lightGrey
	transform translate3d(0,0,0)
	&.menu-open
		.header
			&__toggle
				border-color transparent
				&:before
					transform rotate(45deg)
				&:after
					transform rotate(-45deg)
			&__menu
				@media tablet
					display block
			&__content
				@media phone
					display block
	&__inner
		height 80px
		padding-top 18px
		@media phone
			height 60px
			padding-top 16px
	&__tooltip
		float left
		position relative
		margin 11px 0 0 15px
		@media phone
			margin-top 5px
		&:hover
		&.active
			.header__tooltip-body
				display block
		&-icon
			display block
			width 20px
			height @width
			font-size 20px
			color #a4b5c6
		&-body
			display none
			position absolute
			z-index 151
			top 120%
			left 50%
			width 216px
			margin-left -(@width / 2)
			margin-top 10px
			padding 15px 20px
			color blueColor
			font-size 16px
			line-height 1.4
			background-color #fff
			border-radius 5px
			box-shadow 0 3px 5px rgba(16, 22, 30, 0.15)
			&:after
				content ""
				position absolute
				bottom 100%
				left 50%
				margin-left -10px
				width 0
				height 0
				border-width 10px
				border-style solid
				border-color transparent transparent #fff transparent
	&_static
		position relative
	&_fixed
		position fixed
		top 0
		box-shadow 0 0 5px rgba(0,0,0,.1)
	&__menu
		@media desktop
			float right
			margin-top 7px
		@media sm
			margin-top 10px
		@media tablet
			display none
			position absolute
			top 100%
			right 0
			background-color lightGrey
			min-width 250px
	&__logo
		float left
		margin-top 4px
		width 186px
		height 35px
		text-decoration none
		@media phone
			margin-top 0
			width 150px
			height 28px
		&:before
			color #a4b5c6
			position absolute
			right -36px
			top 50%
			transform translateY(-50%)
		&-img
			display block
			width 100% !important
			height auto !important
	&__language
		margin-left 35px
		margin-top 5px
		display inline-block
		vertical-align middle
		font-size 18px
		color blueColor
		font-weight 600
		text-transform uppercase
		text-decoration none
		@media sm
			margin-left 20px
			font-size 16px
		@media phone
			display block
			width 37px
			height 27px
			margin 25px auto 0
		&:hover
			color brandColor
	&__controls
		float right
		margin-left 30px
		@media sm
			margin-left 20px
		@media phone
			float none
			margin 10px 10px 10px
			padding 20px 0
	&__content
		float right
		@media phone
			display none
			position absolute
			top 100%
			left 0
			right 0
			text-align center
			background-color #fff
			border-top 1px dotted #e0e0e0
			max-height 80vh
			content 'viewport-units-buggyfill;max-height: 80vh;'
			overflow-y auto
			-webkit-overflow-scrolling touch
			box-shadow 0 7px 5px rgba(0,0,0,.1)
	&__toggle
		display none
		position relative
		float right
		margin 8px 0 0 30px
		width 29px
		height 26px
		border-width 2px 0
		border-style solid
		border-color brandColor
		transition .2s border-color ease-in-out
		cursor default
		user-select none
		@media phone_tablet
			display block
		@media phone
			margin-top 2px
		&:before
		&:after
			content ""
			position absolute
			top 50%
			left 0
			right 0
			height 2px
			margin-top -(@height / 2)
			background-color brandColor
			transition .2s transform ease-in-out
