+e.inner.container
	+e("a").logo(href="/")
		+e("img").logo-img(src=site.logoSmall, alt="" width="186" height="35")
	+e("span").tooltip
		+e("span").tooltip-icon.icon-info
		+e("span").tooltip-body= site.location + "\n" + site.date.month + " " + site.date.dateStart + "-" + site.date.dateEnd + ", " + site.date.year
	+e.toggle
	+e.content
		+e.controls
			+e("a").reg.btn.btn-sm(href="/order")!= site.reg
			if pageUrl || pageUrl == ""
				if language == "en"
					+e("a").language(href="/#{pageUrl}")!= site.language
				else
					+e("a").language(href="/en/#{pageUrl}")!= site.language
		+e.menu
			+b("nav").menu: +i({ prefix: "main", items: mainMenu, blockTitle: "Головне меню" })

