.tiles
	text-align center
	&__item
		display inline-block
		vertical-align top
		width 32%
		padding 0 20px
		margin-bottom 50px
		@media phone
			width 49%
			padding 0 10px
			margin-bottom 30px
	&_top
		.tiles__item
			&:nth-child(-n+2)
				width 49%
				margin-bottom 70px
				@media phone
					width 100%
				.tile__image
					height 150px
					@media phone
						height 100px