.features
	padding 55px 0
	background-color blueColor
	&__list
		margin 0
		padding 0
		list-style none
		text-align center
		claerfix()
		&-item
			float left
			width 33.333%
			border-right 1px solid #678ab8
			&:last-child
				border-right 0 none
		&-value
			margin-bottom 20px
			font-size 90px
			line-height 1
			font-weight 300
			color #fff
		&-label
			font-size 18px
			color #a2c1e0
