.features
	background-color blueColor
	&__list
		list-style none
		margin 55px 0
		padding 0
		text-align center
		font-size 0
		&-item
			display inline-block
			border-right 1px solid rgba(186,218,245, 0.5)
			&:nth-child(1)
				.features__list-label
					padding 0 115px
			&:nth-child(2)
				.features__list-label
					padding 0 82px
			&:nth-child(3)
				border 0
				.features__list-label
					padding 0 65px
		&-value
			color #fff
			font-size 90px
			font-weight 300
			line-height 1
			margin-bottom 21px
		&-label
			font-size: 18px
			color rgba(186,218,245, 0.8)
			max-width 377px
